/* * {
    outline:1px dotted red;
} */

/* Header */
/* -------------------------------------- */
.top-header {
    background-color: rgb(193, 96, 26);
}

.header-title{
    margin-top: 30px;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    /* border: 1px solid black; */
}

/* Radios */
/* -------------------------------------- */
#food-type-cont{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid black;
}

#submit {
    color: whitesmoke;
    background-color: rgb(193, 96, 26)
}

/* Shopping Card */
/* -------------------------------------- */

h2 {
    margin-top: 30px;
    color: rgb(87, 87, 163);
    font-family: 'Roboto', sans-serif;
}

#horizontal-ln-mid {
    margin-top: 60px;
}

#footer{
    color: whitesmoke;
    margin-top: 12%;
    padding-top: 25px;
    padding-bottom: 15px;
    background-color: rgb(193, 96, 26);

}

